<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script scr="https://code.jquery.com/jquery-2.1.4.js"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#login_menu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--왼쪽 상단 홈페이지 버튼-->
        <a class="navbar-brand">Twit</a>
      </div>
      
        <!--로그인 메뉴-->
      <div class="collapse navbar-collapse" id="login_menu">
        <ul class="nav navbar-nav navbar-right">
          <% if session[:logined] == true %>
          <li><a href="/user/logout">로그아웃</a></li>
          <% else %>
          <li><a href="#" data-target="#loginModal" data-toggle="modal">로그인</a></li>
          <li><a href="#" data-target="#signupModal" data-toggle="modal">회원가입</a></li>
          <% end %>
        </ul>
      </div>
      
    </div>
  </nav>

<%= yield %>

<!-- Modal -->
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">로그인</h4>
      </div>
      <div class="modal-body">
        <form action="/user/login" method="post" class="form-horizontal">
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">
              이메일
            </label>
            <div class="col-sm-10 control-label">
              <input type="email" class="form-control" name="email">
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">
              비밀번호
            </label>
            <div class="col-sm-10 control-label">
              <input type="password" class="form-control" name="password">
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">로그인</button>
            </div>
          </div>
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="signupModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">회원가입</h4>
      </div>
      <div class="modal-body">
        <form action="/user/create" method="post" class="form-horizontal">
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">
              이메일
            </label>
            <div class="col-sm-10 control-label">
              <input type="text" class="form-control" name="email">
            </div>
          </div>
       
        
        
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">
              비밀번호
            </label>
            <div class="col-sm-10 control-label">
              <input type="password" class="form-control" name="password">
            </div>
          </div>
         
        
        
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">
              비밀번호 확인
            </label>
            <div class="col-sm-10 control-label">
              <input type="password" class="form-control" name="repassword">
            </div>
          </div>
          
         
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">
              이름
            </label>
            <div class="col-sm-10 control-label">
              <input type="text" class="form-control" name="username">
            </div>
          </div>
        
          
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">회원가입</button>
            </div>
          </div>
        </form>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</body>
</html>
